@use '../abstract/variables';
@use '../abstract/mixins';

.card {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  width: 100%;
  height: 50rem;
  /* A fixed height is required since this element's height collapses and it
  causes issues with mouse hover */

  @include mixins.responsive(tablet-port) {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
  }

  @include mixins.responsive(phone) {
    width: 80%;
  }

  &__side {
    height: 25rem;
    transition: transform 0.75s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: variables.$shadow;

    @include mixins.responsive(tablet-port) {
      height: auto;
      position: relative;
      display: block;
      backface-visibility: visible;
      overflow: auto;
    }

    &--front {
      background-color: variables.$color-light-gray;

      @include mixins.responsive(tablet-port) {
        display: flex;
        flex-direction: column;
      }
    }

    &--back {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: rotateY(180deg);
      color: variables.$color-white;

      @include mixins.responsive(tablet-port) {
        top: -5rem;
        padding: 5rem 0 3rem 0;
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }

      &-1 { background-image: linear-gradient(to right bottom, variables.$color-secondary-light, variables.$color-secondary-dark); }
      &-2 { background-image: linear-gradient(to right bottom, variables.$color-primary-light, variables.$color-primary-dark); }
      &-3 { background-image: linear-gradient(to right bottom, variables.$color-tertiary-light, variables.$color-tertiary-dark); }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);

    @include mixins.responsive(tablet-port){
      transform: rotateY(0);
    }
  }
  &:hover &__side--back {
    transform: rotateY(0);

    @include mixins.responsive(tablet-port){
      transform: rotateY(0);
    }
  }

  &__heading {
    position: relative;
    height: 40%;
    width: 100%;
  }

  &__title {
    text-align: right;
    position: absolute;
    width: 75%;
    top: 10rem;
    right: 2rem;

    &--text {
      font-size: 2.5rem;
      font-weight: 300;
      text-transform: uppercase;
      color: variables.$color-white;
      box-decoration-break: clone;
      padding: 1rem 0.5rem;

      &-1 {
        background-image: linear-gradient(
        to right bottom,
        rgba(variables.$color-secondary-light, 0.75),
        rgba(variables.$color-secondary-dark, 0.75)
        );
      }

      &-2 {
        background-image: linear-gradient(
        to right bottom,
        rgba(variables.$color-primary-light, 0.75),
        rgba(variables.$color-primary-dark, 0.75)
        );
      }

      &-3 {
        background-image: linear-gradient(
        to right bottom,
        rgba(variables.$color-tertiary-light, 0.75),
        rgba(variables.$color-tertiary-dark, 0.75)
        );
      }
    }
  }

  &__picture {
    height: 100%;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    @include mixins.responsive(tablet-port) {
      height: 20rem;
    }

    &--1 {
      background-image:
        linear-gradient(to right bottom, variables.$color-secondary-light, variables.$color-secondary-dark),
        url(../assets/img/nat-5.jpg);
    }

    &--2 {
      background-image:
        linear-gradient(to right bottom, variables.$color-primary-light, variables.$color-primary-dark),
        url(../assets/img/nat-6.jpg);
    }

    &--3 {
      background-image:
        linear-gradient(to right bottom, variables.$color-tertiary-light, variables.$color-tertiary-dark),
        url(../assets/img/nat-7.jpg);
    }
  }

  &__details {
    padding-top: 5rem;
    width: 80%;
    margin: 0 auto;

    @include mixins.responsive(tablet-port) {
      padding: 5rem 0;
    }
  }

  &__item {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid variables.$color-gray;
    }
  }

  /* BACK OF THE CARD */

  &__cta {
    @include mixins.responsive(tablet-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__only {
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__price {
    font-size: 6rem;
    font-family: sans-serif;
    font-weight: 100;

    @include mixins.responsive(tablet-port) {
      font-size: 4rem;
    }
  }
}
