.feature {
  height: 100%;
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: $shadow;
  transition: transform 0.2s ease-in-out;

  @include responsive(tablet-port) {
    width: 75%;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.1);
  }

  &__icon {
    font-size: 6rem;
    display: inline-block; /* This corrects a small offset issue with the font*/
  }

  &__heading {}
  &__description {}
}
