@use '../abstract/variables';
@use '../abstract/mixins';

.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 9999;
  transition: opacity 0.5s ease;
  opacity: 0;
  visibility: hidden;

  &:target,
  &--open {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content,
  &--open &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__content {
    @include mixins.absolute-center;
    width: 75%;
    height: 50rem;
    background: variables.$color-white;
    transition: transform .2s .3s;
    transform: translate(-50%, -50%) scale(0);

    @include mixins.responsive(tablet-port) {
      // max-height: min-content;
      width: 90%;
      min-height: 50%;
    }

    @include mixins.responsive(phone) {
      padding: 1rem 0;
    }
  }

  &__image-box {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__image {
    // width: 100%;
    // object-fit: cover;
    height: 100%;
  }

  &__close {
    color: variables.$color-dark-gray;
    position: absolute;
    top: 1rem;
    right: 3rem;
    font-size: 4rem;
    display: inline-block;
    text-decoration: none;

    &:hover {
      color: variables.$color-primary-dark;
    }
  }
}
