.has-background {
  /* Achieve linear gradient color on the text */
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-clip: text;
  color: transparent;
}
.is-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.is-right {
  text-align: right;
}
.is-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marginless {
  margin: 0 !important;
}
.paddingless {
  padding: 0 !important;
}
.paddingless-on-tablet {
  @include responsive(tablet-port){
    padding: 0 !important;
  }
}
.fullwidth{
  width: 100%;
}
.large-margin-top {
  @include margin-top(7.5rem);
}
.medium-margin-top {
  @include margin-top(5rem);
}
.small-margin-top {
  @include margin-top(2rem);
}

.large-padding-top {
  @include padding-top(7.5rem);
}
.medium-padding-top {
  @include padding-top(5rem);
}
.small-padding-top {
  @include padding-top(2rem);
}

.large-margin-bottom {
  @include margin-bottom(7.5rem);
}
.medium-margin-bottom {
  @include margin-bottom(5rem);
}
.small-margin-bottom {
  @include margin-bottom(2rem);
  @include responsive(phone) {
    margin-bottom: 0.5rem;
  }
}

.large-padding-bottom {
  @include padding-bottom(7.5rem);
}
.medium-padding-bottom {
  @include padding-bottom(5rem);
}
.small-padding-bottom {
  @include padding-bottom(2rem);
}
.small-padding {
  @include padding(2rem);
}
.small-padding-left {
  @include padding-left(2rem);
}
