@use '../abstract/variables';
@use '../abstract/mixins';

.has-background {
  /* Achieve linear gradient color on the text */
  background-image: linear-gradient(to right, variables.$color-primary-light, variables.$color-primary-dark);
  background-clip: text;
  color: transparent;
}
.is-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.is-right {
  text-align: right;
}
.is-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marginless {
  margin: 0 !important;
}
.paddingless {
  padding: 0 !important;
}
.paddingless-on-tablet {
  @include mixins.responsive(tablet-port){
    padding: 0 !important;
  }
}
.fullwidth{
  width: 100%;
}
.large-margin-top {
  @include mixins.margin-top(7.5rem);
}
.medium-margin-top {
  @include mixins.margin-top(5rem);
}
.small-margin-top {
  @include mixins.margin-top(2rem);
}

.large-padding-top {
  @include mixins.padding-top(7.5rem);
}
.medium-padding-top {
  @include mixins.padding-top(5rem);
}
.small-padding-top {
  @include mixins.padding-top(2rem);
}

.large-margin-bottom {
  @include mixins.margin-bottom(7.5rem);
}
.medium-margin-bottom {
  @include mixins.margin-bottom(5rem);
}
.small-margin-bottom {
  @include mixins.margin-bottom(2rem);
  @include mixins.responsive(phone) {
    margin-bottom: 0.5rem;
  }
}

.large-padding-bottom {
  @include mixins.padding-bottom(7.5rem);
}
.medium-padding-bottom {
  @include mixins.padding-bottom(5rem);
}
.small-padding-bottom {
  @include mixins.padding-bottom(2rem);
}
.small-padding {
  @include mixins.padding(2rem);
}
.small-padding-left {
  @include mixins.padding-left(2rem);
}
